snippet popup-simple "Eadv - A simple popup" b
<!-- Popup « $1 » -->
<div class="popup popup-simple displayNone" data-popup-content-for="$2" data-popup-title="$1">
  <!-- Bouton de fermeture -->
  <div class="close-reveal-modal"></div>
  
  <!-- Contenu principal -->
  <img class="popup-content" src="$3"/>
</div>
<!-- Fin Popup « $1 » -->
endsnippet
