[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/ddollar/nerdcommenter.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/rooter"]
	path = bundle/rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "bundle/gf-ext"]
	path = bundle/gf-ext
	url = https://github.com/dpwright/vim-gf-ext.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/linediff.vim"]
	path = bundle/linediff.vim
	url = https://github.com/AndrewRadev/linediff.vim.git
[submodule "bundle/vim-gitgutter.git"]
	path = bundle/vim-gitgutter.git
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/table-mode"]
	path = bundle/table-mode
	url = https://github.com/dhruvasagar/vim-table-mode.git
[submodule "bundle/vim-jdaddy"]
	path = bundle/vim-jdaddy
	url = https://github.com/tpope/vim-jdaddy.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-bookmarks"]
	path = bundle/vim-bookmarks
	url = https://github.com/MattesGroeger/vim-bookmarks.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "bundle/vim-obsession"]
	path = bundle/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "bundle/vim-livedown"]
	path = bundle/vim-livedown
	url = https://github.com/shime/vim-livedown.git
[submodule "bundle/vim-rest-console"]
	path = bundle/vim-rest-console
	url = https://github.com/diepm/vim-rest-console.git
[submodule "bundle/sideways.vim"]
	path = bundle/sideways.vim
	url = https://github.com/AndrewRadev/sideways.vim.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-cycle"]
	path = bundle/vim-cycle
	url = https://github.com/zef/vim-cycle.git
[submodule "bundle/vim-ctrlp-cmdpalette"]
	path = bundle/vim-ctrlp-cmdpalette
	url = https://github.com/fisadev/vim-ctrlp-cmdpalette.git
[submodule "bundle/vim-textobj-user"]
	path = bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "bundle/vim-textobj-brace"]
	path = bundle/vim-textobj-brace
	url = https://github.com/Julian/vim-textobj-brace.git
[submodule "bundle/vim-textobj-parameter"]
	path = bundle/vim-textobj-parameter
	url = https://github.com/sgur/vim-textobj-parameter.git
[submodule "bundle/vim-textobj-pastedtext"]
	path = bundle/vim-textobj-pastedtext
	url = https://github.com/saaguero/vim-textobj-pastedtext.git
[submodule "bundle/vim-textobj-variable-segment"]
	path = bundle/vim-textobj-variable-segment
	url = https://github.com/Julian/vim-textobj-variable-segment.git
[submodule "bundle/vim-projectionist"]
	path = bundle/vim-projectionist
	url = https://github.com/tpope/vim-projectionist.git
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "bundle/vim-move"]
	path = bundle/vim-move
	url = https://github.com/matze/vim-move.git
[submodule "bundle/vim-mustache-handlebars"]
	path = bundle/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars.git
[submodule "bundle/vim-devicons"]
	path = bundle/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/vim-vagrant"]
	path = bundle/vim-vagrant
	url = https://github.com/hashivim/vim-vagrant.git
[submodule "bundle/ag.vim"]
	path = bundle/ag.vim
	url = https://github.com/rking/ag.vim.git
[submodule "bundle/vim-tmux-focus-events"]
	path = bundle/vim-tmux-focus-events
	url = git://github.com/tmux-plugins/vim-tmux-focus-events.git
[submodule "bundle/vim-php-cs-fixer"]
	path = bundle/vim-php-cs-fixer
	url = https://github.com/stephpy/vim-php-cs-fixer.git
[submodule "bundle/vim-action-ag"]
	path = bundle/vim-action-ag
	url = https://github.com/Chun-Yang/vim-action-ag.git
[submodule "bundle/vim-twig"]
	path = bundle/vim-twig
	url = https://github.com/lumiliet/vim-twig.git
[submodule "bundle/vim-textobj-function"]
	path = bundle/vim-textobj-function
	url = https://github.com/kana/vim-textobj-function.git
[submodule "bundle/scratch.vim"]
	path = bundle/scratch.vim
	url = https://github.com/mtth/scratch.vim.git
[submodule "bundle/vim-startify"]
	path = bundle/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "bundle/deleft.vim"]
	path = bundle/deleft.vim
	url = https://github.com/AndrewRadev/deleft.vim.git

[submodule "bundle/vim-swap"]
	path = bundle/vim-swap
	url = https://github.com/kurkale6ka/vim-swap.git
[submodule "bundle/phpfolding.vim"]
	path = bundle/phpfolding.vim
	url = https://github.com/CaptainQuirk/phpfolding.vim.git
[submodule "bundle/vim-cucumber"]
	path = bundle/vim-cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "bundle/vim-game-code-break.git"]
	path = bundle/vim-game-code-break.git
	url = https://github.com/johngrib/vim-game-code-break.git
[submodule "bundle/ranger.vim"]
	path = bundle/ranger.vim
	url = https://github.com/francoiscabrol/ranger.vim.git
[submodule "bundle/javascript-libraries-syntax.vim"]
	path = bundle/javascript-libraries-syntax.vim
	url = https://github.com/othree/javascript-libraries-syntax.vim.git
[submodule "bundle/vim-localvimrc"]
	path = bundle/vim-localvimrc
	url = https://github.com/embear/vim-localvimrc.git
[submodule "bundle/vim-textobj-xmlattr"]
	path = bundle/vim-textobj-xmlattr
	url = https://github.com/whatyouhide/vim-textobj-xmlattr
[submodule "bundle/vim-autocomplpop"]
	path = bundle/vim-autocomplpop
	url = https://github.com/othree/vim-autocomplpop.git
  ignore = dirty
[submodule "bundle/L9"]
	path = bundle/L9
	url = https://github.com/vim-scripts/L9.git
  ignore = dirty
[submodule "bundle/vim-closetag"]
	path = bundle/vim-closetag
	url = https://github.com/alvan/vim-closetag.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/vim-rake"]
	path = bundle/vim-rake
	url = https://github.com/tpope/vim-rake.git
[submodule "bundle/vim-dasht"]
	path = bundle/vim-dasht
	url = https://github.com/sunaku/vim-dasht.git
[submodule "bundle/vim-notmuch-address"]
	path = bundle/vim-notmuch-address
	url = https://github.com/adborden/vim-notmuch-address.git
[submodule "bundle/vim-composer"]
	path = bundle/vim-composer
	path = bundle/vim-ripgrep
	url = https://github.com/jremmen/vim-ripgrep.git
[submodule "bundle/vim-docker"]
	path = bundle/vim-docker
	url = https://github.com/ain/vim-docker.git
[submodule "bundle/ale"]
	path = bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule "bundle/vim-csscomb"]
	path = bundle/vim-csscomb
	url = https://github.com/csscomb/vim-csscomb.git
[submodule "bundle/vim-gutentags"]
	path = bundle/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-gtfo"]
	path = bundle/vim-gtfo
	url = https://github.com/justinmk/vim-gtfo.git
[submodule "vim-dispatch"]
	path = vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "bundle/editorconfig-vim"]
	path = bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "bundle/gv.vim"]
	path = bundle/gv.vim
	url = https://github.com/junegunn/gv.vim.git
[submodule "bundle/phpcomplete.vim"]
	path = bundle/phpcomplete.vim
	url = https://github.com/shawncplus/phpcomplete.vim.git
[submodule "bundle/splitjoin.vim"]
	path = bundle/splitjoin.vim
	url = https://github.com/AndrewRadev/splitjoin.vim.git
[submodule "bundle/vim-bats"]
	path = bundle/vim-bats
	url = https://github.com/markcornick/vim-bats.git
[submodule "bundle/phpactor"]
	path = bundle/phpactor
	url = https://github.com/phpactor/phpactor.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/vim-bundler"]
	path = bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
